# Streamlit
.streamlit/secrets.toml
.streamlit/config.toml

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Virtual environment
venv/
.env/

# Excel
*.xlsx~
~$*.xlsx

# Backup fișiere test
templates_backup.json
users.json
secrets.toml